root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

max_line_length = 100


[*.py]
max_line_length = 88


[*.sh]
indent_style = tab
max_line_length = 79


[*.sql]
indent_size = 2
max_line_length = 80


[*.{yaml,yml}]
indent_size = 2
max_line_length = 80


[Makefile]
indent_style = tab
max_line_length = 120


[*.rst]
max_line_length = 79


[{COMMIT_EDITMSG,MERGE_MSG,SQUASH_MSG,git-rebase-todo}]
max_line_length = 72
