# Kyle
Kyle <kthprog@gmail.com>
Kyle <kthprog@gmail.com> <Kyle.Hooks@LUXinteractive.com>

# Shane
Shane <chown_tee@proton.me>
Shane <chown_tee@proton.me> <mathmuncher11@gmail.com>
Shane <chown_tee@proton.me> <nutratracker@protonmail.com>
Shane <chown_tee@proton.me> <shane.jaroch@centurylink.com>
Shane <chown_tee@proton.me> <sjj.lumen@gmail.com>

